<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team up</title>
    <link rel="stylesheet" href="./CSS/index.css">
    <link rel="stylesheet" href="./CSS/basicsetting.css">
    <link rel="stylesheet" href="./CSS/index_nav.css">
    <link rel="stylesheet" href="./CSS/footer.css">
    <link rel="stylesheet" href="./CSS/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+TC:wght@100;200;400;500&family=Roboto&family=Ubuntu:wght@500;700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&family=Ubuntu:wght@500;700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/faccf86354.js" crossorigin="anonymous"></script>
</head>

<body id="app">
    <div className="preload">
        <div class="loading">
            <img src="./img/load_animation_font.png" alt="">
        </div>
    </div>

    <div class="header">
        <nav>
            <div id="navbar" class="nav">
                <div class="logo">
                    <a href="./index.html"><img src="./img/index_logo.png" alt="team up logo"></a>
                </div>
                <div class="navlist">
                    <div class="link">
                        <ul>
                            <li><a href="./playone.html">報隊</a></li>
                            <li><a href="./shop.html">商店</a></li>
                        </ul>
                    </div>
                    <div class="linkicon">
                        <ul>
                            <li><a href="./shop.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
                            <li><a href="./login.html"><i class="fa-regular fa-user"></i></a></li>
                            <li><i class="fa-solid fa-bars" id="menu" onclick="toggleMenu()"></i></li>
                        </ul>
                    </div>

                    <div class="menu">
                        <div class="submenu" id="subMenu">
                            <ul>
                                <li><a href="./about_us.html" class="subMenuLink">
                                        <p>關於我們</p><span><i class="fa-solid fa-chevron-right"></i></span>
                                    </a></li>
                                <li><a href="./court.html" class="subMenuLink">
                                        <p>場館資訊</p><span><i class="fa-solid fa-chevron-right"></i></span>
                                    </a></li>

                                <li><a href="./playone.html" class="subMenuLink">
                                        <p>報隊打球</p><span><i class="fa-solid fa-chevron-right"></i></span>
                                    </a></li>
                                <li><a href="./shop.html" class="subMenuLink">
                                        <p>線上商店</p><span><i class="fa-solid fa-chevron-right"></i></span>
                                    </a></li>
                                <li><a href="./news.html" class="subMenuLink">
                                        <p>最新消息</p><span><i class="fa-solid fa-chevron-right"></i></span>
                                    </a></li>
                                <li><a href="./skill.html" class="subMenuLink">
                                        <p>排球技巧</p><span><i class="fa-solid fa-chevron-right"></i></span>
                                    </a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="banner">
        <img src="./img/banner_nofont.png" alt="">
        <div class="bannertext1">
            <h1>READY<br> FOR<br>
                <span>VOLLEY</span>
            </h1>
        </div>
        <div class="bannertext2">
            <h1>ON<br> THE<br> WAY<br>
                <span>COURT</span>
            </h1>
        </div>

    </div>
    </div>

    <div class="news">
        <div class="title">
            <h1>NEWS</h1>
        </div>
        <div class="newslist">
            <div class="news1">
                <div class="newsdt">
                    <span class="date">2023.11.06</span>
                    <span class="tag">臨打場</span>
                </div>
                <div class="newsct">
                    <img src="./img/NEWS1.jpg" alt="新聞圖">
                    <div class="content">
                        <h4>新晉排球天才崛起，19歲少年成為球壇新星</h4>
                        <p>11/10(五) 15:45-18:45開放女網混排臨打場，兩人同行，第二人只要100元，女生參加女網場次，每人再減10元!
                        </p>
                    </div>

                </div>
            </div>
            <div class="news2">
                <div class="newsdt">
                    <span class="date">2023.11.03</span>
                    <span class="tag">活動
                    </span>
                </div>
                <div class="newsct">
                    <img src="./img/NEWS2.jpg" alt="新聞圖">
                    <div class="content">
                        <h4>11/20 16:00-18:00開放臨打場</h4>
                        <p>1.在臉書或 IG 貼文 Like本篇貼文2.留言＠兩個朋友揪他一起來打球3.轉發這則貼文到限時動態，保留24小時後截圖。</p>
                    </div>


                </div>
            </div>
            <div class="news3">

                <div class="newsdt">
                    <span class="date">2023.11.01</span>
                    <span class="tag">公告
                    </span>
                </div>
                <div class="newsct">
                    <img src="./img/NEWS3.jpg" alt="新聞圖">
                    <div class="content">
                        <h4>球館於11/30舉辦比賽</h4>
                        <p>
                            請準時抵達球館，以維護所有球友打球權益，且務必將垃圾帶離球場，保持公共清潔。若於場次開始3小時前，未滿12人則流團改自由用場。
                        </p>
                    </div>


                </div>
            </div>
            <div class="btn">
                <a class="button button-color" href="./news.html"><span class="button-name">更多消息</span><i
                        class="button-icon fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="newsmq">
        <div class="title">
            <h1>NEWS</h1>
        </div>
        <div id="app" class="newslist">
            <div v-for="item in newsList" class="news1">
                <div class="newsct">
                    <img :src="item.imgSrc" :alt="item.altText">
                </div>

                <div class="newsdt">
                    <div class="title">
                        <h3>{{item.title}}</h3>
                    </div>
                    <div class="info">
                        <span class="date">{{item.date}}</span>
                        <span class="tag">{{item.tag}}</span>
                    </div>

                </div>
            </div>
            
            <div class="btn">
                <a href="./news.html">更多消息</a>
            </div>
        </div>
    </div>


    <div class="procedure">
        <div class="title">
            <h1>PROCEDURE</h1>
        </div>
        <div id="app" class="steps">
            <div v-for="item in procedureList" class="pro1">
                <i :class="item.iconClass"></i>
                <div class="pro_name">
                    <span>{{item.name}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- 產品連結 -->
    <div class="product">
        <div class="title">
            <h1>PRODUCT</h1>
        </div>
        <div class="product_btn">
            <button class="pre-btn">
                <img src="./img/recommend_right.png" alt="">
            </button>
            <button class="nxt-btn">
                <img src="./img/recommend_right.png" alt="">
            </button>
        </div>
        <div id="app" class="productlist">
            <div v-for="item in productsList" :class="item.className">
                <div :class="item.link">
                    <div :class="item.tag">
                        <span>{{item.category}}</span>
                    </div>
                    <a :href="item.a">
                        <img :src="item.imgSrc" :alt="item.imgAlt">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 關於我們 -->
    <div class="index_aboutus">
        <div class="ourTeam">
            <img src="./img/portrait.png" alt="teamup團隊">
            <div class="intro">
                <h1>ABOUT US</h1>
                <p>我們希望能讓更多人認識、喜愛排球，並提供球友們一個更方便的預約報隊平台，在這裡你可以找到更多志同道合的夥伴，一起創造排球人的共好空間。 </p>
                <div class="viewmore">
                    <a href="./about_us.html">View more</a>
                </div>
                <!-- <div class="btn">
                    <a class="button button-color" href="./about_us.html"><span class="button-name">View More</span><i class="button-icon fa fa-arrow-right"></i></a>
                </div> -->
            </div>
        </div>
    </div>
    <!-- 其他連結 -->
    <div class="link_list">
        <div v-for="item in othersLink" :class="item.link">
            <a :href="item.a"><img :src="item.imgSrc" :alt="item.imgAlt"></a>
        </div>
    </div>
    <!-- 頁尾 -->
    <div class="footer">
        <div class="logo">
            <a href=""><img src="./img/TeamUp_footer.png" alt="teamup logo"></a>
        </div>
        <div class="footertp">
            <div class="btlink">
                <div class="contactform">
                    <ul>
                        <li><a href="./about_us.html">關於我們</a></li>
                        <li><a href="./court.html">場館資訊</a></li>
                        <li><a href="./skill.html">排球技巧</a></li>
                        <li><a href="./news.html">最新消息</a></li>
                        <li><a href="./shop.html">線上商店</a></li>
                        <li><a href="./playone.html">報隊頁面</a></li>
                    </ul>
                </div>
                <div class="social">
                    <ul>
                        <li><img src="" alt=""><i class="fa-brands fa-square-facebook"></i></li>
                        <li><img src="" alt=""><i class="fa-brands fa-square-instagram"></i></li>
                        <li><img src="" alt=""><i class="fa-brands fa-line"></i></li>
                    </ul>
                </div>
            </div>
            <div class="footerR">
                <div class="contact">
                    <span>Contact Us</span>
                    <div class="form">
                        <input type="email">
                        <input type="submit">
                    </div>
                </div>
                <div class="ctinfo">
                    <div class="social">
                        <ul>
                            <li><img src="" alt=""><i class="fa-brands fa-square-facebook"></i></li>
                            <li><img src="" alt=""><i class="fa-brands fa-square-instagram"></i></li>
                            <li><img src="" alt=""><i class="fa-brands fa-line"></i></li>
                        </ul>
                    </div>
                    <div class="address">
                        <span>TEL.038222222 </span>
                        <span>桃園市中壢區復興路46號</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="footerbt">
        <div class="copyright">
            <span>@Team Up 2023</span>
        </div>
    </div>


    <!-- 使用vue -->
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    newsList: [
                        {
                            imgSrc: "./img/NEWS1.jpg",
                            altText: "新聞圖",
                            title: "新晉排球天才崛起，19歲少年成為球壇新星",
                            date: "2023.11.06",
                            tag: "臨打場"
                        },
                        {
                            imgSrc: "./img/NEWS2.jpg",
                            altText: "新聞圖",
                            title: "11/20 16:00-18:00開放臨打場",
                            date: "2023.11.06",
                            tag: "臨打場"
                        },
                        {
                            imgSrc: "./img/NEWS3.jpg",
                            altText: "新聞圖",
                            title: "球館於11/30舉辦比賽",
                            date: "2023.11.06",
                            tag: "臨打場"
                        }
                    ],

                    procedureList: [
                        {   
                            iconClass: 'fa-solid fa-location-dot', 
                            name: '選擇球館' 
                        },
                        { 
                            iconClass: 'fa-solid fa-calendar', 
                            name: '選擇日期' 
                        },
                        { 
                            iconClass: 'fa-solid fa-ruler-vertical', 
                            name: '選擇網高' 
                        },
                        { 
                            iconClass: 'fa-solid fa-check', 
                            name: '選擇類型' 
                        },
                        { 
                            iconClass: 'fa-regular fa-clock', 
                            name: '選擇時段' 
                        },
                    ],

                    productsList: [
                        {
                            className: "productcard",
                            link: "tops_link",
                            tag: "tag",
                            category: "排球衣",
                            a: "./shop.html",
                            imgSrc: "./img/list_top.png",
                            imgAlt: "排球衣",
                        },
                        {
                            className: "productcard",
                            link: "bottoms_link",
                            tag: "tag",
                            category: "排球褲",
                            a: "./shop.html",
                            imgSrc: "./img/list_bottom.png",
                            imgAlt: "排球褲",
                        },
                        {
                            className: "productcard",
                            link: "socks_link",
                            tag: "tag",
                            category: "排球襪",
                            a: "./shop.html",
                            imgSrc: "./img/list_socks.png",
                            imgAlt: "排球襪",
                        },
                        {
                            className: "productcard",
                            link: "others_link",
                            tag: "tag",
                            category: "其他",
                            a: "./shop.html",
                            imgSrc: "./img/others.jpg",
                            imgAlt: "其他運動用品",
                        },
                    ],
                    othersLink: [
                        {
                            link: "linkToCourt",
                            a: "./court.html",
                            imgSrc: "./img/court.png",
                            imgAlt: "",
                        },
                        {
                            link: "linkToRules",
                            a: "#",
                            imgSrc: "./img/notice.png",
                            imgAlt: "",
                        },
                        {
                            link: "linkToTips",
                            a: "./skill.html",
                            imgSrc: "./img/tips (1).png",
                            imgAlt: "",
                        },
                    ]
                }
            }
        }).mount('#app')
    </script>



    <script src="./JS/navbar.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="./JS/nav_menu.js"></script>
    <script>
        setTimeout(function () {
            $('.preload').fadeToggle();
        }, 1000);
    </script>

    <script src="./JS/slide.js"></script>
</body>

</html>